html,
body,

.pageRoot {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.pageRoot .header {
  width: 100%;
  height: 30px;
  border-bottom: 2px solid black;
}

.pageRoot .header p {
  line-height: 0.5;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: center;
  padding: 10px 5px;
}

.pageRoot .content {
  position: relative;
  width: 100%;
  height: calc(100% - 30px);
}

#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#viewDiv.hidden {
  /* display: none; */
  height: 1px;
}

#view3DDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#view3DDiv.hidden {
  /* display: none; */
  height: 1px;
}

.content .map-toolbar {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 9;
}

.content .map-toolbar .btn-action {
  margin: 2px 2px;
  width: 28px;
  height: 28px;
  z-index: 10;
}

.content .map-toolbar .btn-action:hover {
  background-color: #bbb;
  opacity: 0.8;
}

.content .map-toolbar .btn-action.toggle-basemapgallery {
  background-image: url(../res/icon-basemap-gallery.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.content .map-toolbar .btn-action.toggle-instructionpanel {
  background-image: url(../res/icon-instructions.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.content .bottom-left {
  position: absolute;
  bottom: 45px;
  left: 15px;
  pointer-events: auto;
  z-index: 10;
}

.content .bottom-left .map-btn,
.content .bottom-left .map-compass {
  margin-top: 10px;
  width: 56px;
  height: 56px;
  border-radius: 56px;
  box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.15);
  transform: rotate(0deg);
  background-position: center;
  background-repeat: no-repeat;

  cursor: pointer;

}

.toggle-3dview .switch-3dmode-button,
.map-compass .re-center-button {
  overflow: hidden;
  background-color: #F2F2F2;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  height: 56px;
  width: 56px;
  border-radius: 30px;
}

.toggle-3dview .switch-3dmode-button .icon-text-area,
.map-compass .re-center-button .icon-text-area {
  position: relative;
  height: 100%;
  width: 100%;
  top: 11px;
}

.map-compass .re-center-button .icon-text-area .orientation {
  background-image: url('../res/map-orientation.svg');
  position: relative;
  transform: rotate(0deg);
  left: 18px;
  height: 35px;
  width: 20px;
  background-size: 20px 35px;
}

.map-compass .re-center-button .icon-text-area .orientation .click-handler {
  position: absolute;
  width: 400%;
  height: 400%;
  left: -100%;
  top: -100%;
}

.toggle-3dview .switch-3dmode-button .icon-text-area .icon-3dmode {
  background-image: url('../res/map-3d-mode.png');
  position: relative;
  left: 10px;
  height: 35px;
  width: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


.content .vehicle-marker {
  position: absolute;
  left: calc(50% - 21px);
  top: calc(50% - 21px);
  /* consisder the esri bottom line */
  z-index: 10;

  width: 42px;
  height: 42px;
  background-image: url(../res/icon-car-black-2d.png);
  background-size: contain;
  background-repeat: no-repeat;
  rotate: 0deg;
}


#basemapGalleryContainer {
  position: absolute;
  right: 65px;
  top: 10px;
  z-index: 11;
  display: block;
  width: 300px;
  height: 1px;
  opacity: 0;
}

#basemapGalleryContainer.visible {
  height: 400px;
  opacity: 1;
}

.content .description-panel {
  position: absolute;
  top: 10px;
  right: 65px;
  z-index: 10;
  width: 55vw;
  height: calc(100vh - 100px);
  padding: 10px;
  /* background-color: #fff; */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.content .description-panel.collapsed {
  height: 40px;
}

.content .description-panel .instruction-header {
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ddd;

  padding: 0;
  display: flex;
  flex-direction: row;
}

.content .description-panel .instruction-header .toggle-btn {
  position: absolute;
  top: 13px;
  right: 23px;
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;

  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../res/icon-arrow-down.png);
}

.content .description-panel .instruction-header .toggle-btn.expanded {
  background-image: url(../res/icon-arrow-up.png);
}

.content .description-panel .description-item {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  width: 100%;
  height: calc(100% - 50px);
  padding: 0;

  max-height: calc(100% - 50px);
  overflow-y: scroll;
  background-color: #fff;
}

.content .description-panel .description-item.center {
  justify-content: center;
  align-items: center;
}

.description-item > div {

  font-size: 0.9em;
  line-height: normal;
  margin: 5px 0px 5px 10px;
}

.description-item b {
  display: inline;
}

.description-item img {
  margin-left: 5px;
  margin-right: 5px;
}

.content .count-down-panel {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  z-index: 10;
  width: 50px;
  height: 50px;
  /* padding: 10px; */
  /* background-color: #fff; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content .count-down-panel .count-down-text {
  font-size: 10em;
  font-weight: bold;
}

.content .speedometer-panel {
  position: absolute;
  top: 40px;
  left: calc(50% - 150px);
  z-index: 11;
  width: 300px;
  height: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.content .speedometer-panel .speedometer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.content .speedometer-panel .speedometer .vehicle {

}

.content .speedometer-panel .speedometer .speedometer-circle .speedometer-text {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.2em;
  font-weight: bold;
}

.content .streering-left-indicator {
  position: absolute;
  top: 80px;
  left: 80px;
  z-index: 11;
  width: 150px;
  height: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  font-size: 10em;
  line-height: 0;
}

.content .streering-right-indicator {
  position: absolute;
  top: 80px;
  right: 80px;
  z-index: 11;
  width: 150px;
  height: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  font-size: 10em;
  line-height: 0;
}

.blinking {
  animation: blinker 1.2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
